@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Baskervville SC", serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-height: 100%;
  margin: 0;
  position: relative;
  transition: background-color 4s ease;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.486), transparent); /* start with a gradient from black to transparent */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(66, 0, 0);
}

h1 {
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 45px;
  margin-bottom: 40px;
  background: -webkit-linear-gradient(250deg, #640000 0%, #969696 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 { 
  background: -webkit-linear-gradient(108deg, #222222 0%, #969696 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
}

input {
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  max-width: 800px;
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center !important;
}

.content-wrapper {
  margin-top: -20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-center {
  justify-content: center !important;
}

li {
  list-style: none;
}

.container {
  flex: 1 1 0%;
}

/* 

LANDING

*/

#landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav__container {
  height: 326px;
  padding: 40px 15px;
  align-items: center;
  position: relative;
}

.nav__bar {
  flex-direction: row;
  font-size: 18px;
  font-weight: 600;
  margin-top: -20px;
}

.nav__bar--logo,
.logo {
  height: 80px;
}

.nav__bar--logo,
.nav__link--list {
  width: 100%;
  max-width: 430px;
}

.nav__bar,
.nav__link {
  position: relative;
}

.nav__link--login {
  margin: 0 12px;
}

.nav__link--primary {
  border-radius: 9999px;
  background-color: rgb(66, 0, 0);
  padding: 12px 32px;
  color: rgb(150, 150, 150);
  transition: all 300ms ease;
  font-weight: 700;
}

/* 
  
  SEARCH BAR
   
*/

.input__container {
  width: 100%;
  max-width: 600px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  margin: auto;
}

.magnifying-glass {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  padding: 0 20px 0 8px;
  color: rgb(66, 0, 0);
  font-size: 32px;
  transition: all 0.2s ease;
}

/* 

OVERLAY

*/

.overlay {
  background-image: url(./images/VeilofEternityDistortion.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* 

SEARCH RESULTS

*/

#search {
  position: relative;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

#filter {
  padding: 0 20px;
}

.character__filter--container {
  width: 30%;
  min-width: 335px;
  justify-content: center;
  display: flex;
  align-items: center;
 
}

.search-results {
  padding: 20px 0;
  font-size: 28px;
  margin-bottom: 0;
}

#cars {
  padding-top: 40px;
}

.range {
  display: flex;
  font-size: 28px;
}

.content {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: -webkit-linear-gradient(108deg, #4b4b4b 0%, #969696 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 40px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  
}

p {
  font-size: 28px;
  font-weight: 600;
}

.range-slider {
  width: 400px;
  position: relative;
  margin: 15px 0 30px 0;
}

.range-fill {
  height: 6px;
  background-color: rgb(150, 0, 0);
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  margin-top: 27px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  position: absolute;
  left: 0;
  padding: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 15px;
  background-image: url(./images/droplet-solid.svg);
  cursor: pointer;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: rgb(150, 150, 150, .25);
  border-radius: 3px;
  border: none;
}

/* 

SEARCH RESULTS CONTENT

*/

.content-wrapper {
  margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member-list {
  width: auto;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.show-members {
  display: flex;
  flex-wrap: wrap;
}

.member {
  width: calc(100% / 3);
}

.member-card {
  background-color: #944b4b;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  width: calc(100% / 3.2);
  min-width: 250px;
  opacity: 0;
  animation: fadeIn .5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 1;
}

.member-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transform: scale(1.02);
}

.member-card__container {
  padding: 2px 16px;
}

.avatar__container {
  display: flex;
  flex-direction: column;
}

.player__avatar {
  margin: 8px;
  max-width: 125px;
  object-fit: cover;
}

.no-results--container {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.no-results--image {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.no-results--container p {
  font-size: 18px;
  color: #afafaf;
}

.see-more--btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #81009b; 
  color: rgb(226, 226, 226);
  font-size: 20px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 20px auto;
  text-align: center;
}

.see-more--btn:hover {
  background-color: #8f00c7; 
  transform: scale(1.05); 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.see-more--btn:active {
  background-color: #004080; 
  transform: scale(0.95); 
}

.see-more--btn {
  display: block;
  text-align: center;
  margin: 20px auto; 
}

/* Loading Overlay */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0); /* Dark background */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Start at invisible */
  visibility: hidden; /* hide it from the layout */
  transition: opacity 4s ease, visibility 4s ease; /* Smooth fade-out transition */
  z-index: 1000; /* Ensure it's above all other elements */
}

.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loading-overlay.show {
  opacity: 1; /* Fully Visible */
  visibility: visible;
  pointer-events: none; /* Prevents it from blocking interaction */
}

.loading-overlay iframe {
  flex: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  pointer-events: none;
  margin: 0;
  border: none;
}

.loading-overlay p {
  display: none;
}

.page-content {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 4s ease, transform 4s ease;
}

.page-content.fade-in {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-content {
  animation: fadeInUp 4s ease forwards;
}